<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup.css') }}"
    />
    
  </head>
  <body>
    <div class="header">
      <img
        src="{{ url_for('static', filename='assets/nascon_logo.png') }}"
        alt="nascon_logo"
        class="logo"
      />
      <div class="heading">
        <h1 id="nascon_heading">NASCON 25'</h1>
        <p>Where Talent Meets Opportunities</p>
      </div>
    </div>
    <div class="signup-container">
      <!-- Add your logo image here -->

      <h2>Create an Account</h2>
      <form method="POST" action="{{ url_for('signup') }}">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9]{10}"
            placeholder="e.g. 03123456789"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input type="password" id="confirm" name="confirm" required />
        </div>

        <button type="submit" class="signup-button">Sign Up</button>
        <br>
        <a href="{{ url_for('login') }}" id="login-redirect">Already have an account? Log in</a>
      </form>
    </div>
    <div class="filler"></div>
  </body>
</html>
